@media (max-width: 991px) {
  .searhing-checkbox form {
    flex-direction: column;
    gap: 50px 0;
  }

  .searhing-checkbox form fieldset:after {
    opacity: 0;
  }

  .searhing-checkbox form fieldset .fieldset-wrapper .bef-checkboxes {
    text-align: center;
    flex-direction: column;
    gap: 20px 0;
    justify-content: center;
    margin: auto;
  }

  li.nav-item.dropdown:hover ul.dropdown-menu {
    display: none;
  }

  li.nav-item.dropdown:hover ul.dropdown-menu.show {
    display: block;
  }

  body .menu_principe .container {
    padding: 15px !important;
  }

  li.nav-item.dropdown:hover ul.dropdown-menu {
    border: 0;
    padding: 10px 29px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
  }

  .menu_principe div#navbarScroll .navbar-nav-scroll {
    height: 100%;
    max-height: 100%;
    gap: 20px 0;
    text-align: left;
    padding: 20px 30px;
  }

  .menu_principe div#navbarScroll .navbar-nav-scroll li {
    text-align: left;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
  }

  .menu_principe .container {
    padding: 15px !important;
  }

  .img---five-desktech-bg img {
    object-fit: cover;
  }

  .home_slider_content {
    height: auto;
  }

  section.slider .banner img {
    height: 80vh;
    object-fit: cover;
  }

  section.slider h1 {
    font-size: 35px;
    line-height: normal;
  }

  .menu_principe a.navbar-brand img {
    width: 100%;
  }

  .top_header .container {
    flex-direction: column;
    gap: 20px 0;
    padding: 15px;
  }

  .menu_principe .container {
    justify-content: space-between;
    padding: 0 10px 0 10px !important;
    margin: 0;
  }

  /*  */
  section.slider p {
    width: auto;
  }

  body,
  html {
    overflow-x: hidden;
  }


  .home_slider_content {
    width: auto;
  }

  .img---five-desktech-bg img {
    width: 100%;
    height: 100vh;
  }

  .one--img-sc-four img {
    width: 100%;
  }

  .one--img-sc img {
    width: 100%;
    height: 100%;
  }

  .twoo--img-sc {
    height: auto;
    flex-direction: row;
    justify-content: center;
  }

  img.two--sc--img {
    position: relative;
    width: 100%;
    right: auto;
    height: 100%;
    margin: auto;
    text-align: center;
  }

  footer .row {
    gap: 20px 0;
  }

  section.section-two-desktech .col-md-6 {

    width: 100%;
    margin: 0 !important;
  }

  section {
    padding: 40px 15PX;
  }

  section.section-three-desktech .row {
    gap: 20px 0;
  }

  .container-sc {
    margin: 0 15px;
  }

  .right--section-two-desktech {
    padding: 20px 0 0 0;
  }

  section.section-two-desktech .row>.col-md-6:first-child {
    margin-top: 40px !important;
  }

  .twoo--img-sc .para--text {
    right: auto;
  }

  .five-desktech-owl {
    height: auto;
  }

  .img---five-desktech-bg {
    height: auto;
  }

  footer.text-light.py-5 {
    padding-bottom: 10px !important;
  }

  .breadcrumb-sx {
    height: 100%;
  }

  section.section-propose-one-desktech {}

  section.section-propose-one-desktech .para--text {
    right: auto;
    left: auto;
    width: auto;
    position: relative;
  }

  section.section-propose-one-desktech .one--img-sc-four {
    width: 100%;
  }

  .stats-container {
    flex-direction: column;
    height: auto;
    gap: 20px 0;
    max-width: 100%;
  }

  .prtps {
    padding: 0 30px;
  }

  .left--contact {
    width: 100%;
  }

  .right--contact {
    width: 100%;
  }

  section#contact--nous .two--column-contact {
    flex-direction: column;
  }

  .contact-webform form>div {
    width: 10;
    width: 100%;
  }

  .left--contact p {
    width: 80%;
  }

  .item-icon-contact svg {
    width: 20%;
    height: 50px;
  }

  .item-icon-contact {}

  .item-icon-contact .wrapper-text {
    width: 80%;
  }

  section.banner_tp img {
    height: 164px;
    object-fit: cover;
  }

  .breadcrumb-sx span {
    font-size: 27px;
  }

  .items--sc-sl-pr {
    padding: 30px 0;
  }

  .tele--brochure {
    padding: 15px;
    width: 100%;
  }

  .tele--contactez {
    padding: 15px;
    width: 100%;
  }

  .contact-produits-et-services-desktech form>div:first-child {
    width: 100%;
  }

  .contact-produits-et-services-desktech form>div:nth-child(2) {
    width: 100%;
  }

  .contact-produits-et-services-desktech {
    margin-bottom: 40px;
  }

  .type--detail_product {
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
  }

  section.section-one-desktech-imprimantes-multifonctions .title--primary {
    flex-direction: column;
  }

  section.section-one-desktech-imprimantes-multifonctions .title--primary h2 {
    width: 100%;
  }

  section.section-one-desktech-imprimantes-multifonctions .title--primary p {
    width: 100%;
  }

  .item--checkbox {
    margin-bottom: 30px;
  }

  .searhing-checkbox {
    flex-direction: column;
  }

  .card-filter-all {
    height: auto;
    padding: 30px;
  }

  .checkbox-container {
    flex-direction: column;
    align-items: baseline;
  }

  /*  */
  .path-frontpage section.slider h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .path-frontpage section.slider h1 span {
    font-size: 30px;
    line-height: 40px;
  }

  section.slider a {
    font-size: 18px;
  }

  .title--primary h2,
  .title--primary h2 span {
    font-size: 30px;
  }

  .title--primary {
    margin: 0;
  }

  .img---five-desktech-bg img {
    height: 100%;
  }

  .img---five-desktech-bg {
    height: 600px;
  }

  .one--img-sc-four {
    height: auto;
  }

  .contact-produits-et-services-desktech {
    padding: 0;
  }

  .contact-produits-et-services-desktech form>div input::placeholder {
    font-size: 14px;
  }

  .contact-produits-et-services-desktech form>div input {
    font-size: 14px;
  }

  .contact-produits-et-services-desktech form {
    align-items: center;
  }

  .contact-produits-et-services-desktech form>div input {
    margin: 0;
  }

  section.section-propose-one-desktech .para--text {
    bottom: 0;
    height: auto;
  }

  .para--text p {
    font-size: 25px;
  }

  .right--section-two-desktech {
    padding: 0;
  }

  section.slider .banner img {
    height: auto;
  }

  .newsletter-container {
    flex-direction: column;
    gap: 20px 0;
    margin: 20px 0;
  }

  .newsletter-text {
    width: 100%;
  }

  form.newsletter-form {
    width: 100%;
  }

  section#blog--slider {
    padding: 40px 0;
  }

  section#blog--slider .container {
    position: relative;
    top: auto;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  section#blog--slider .banner>img {
    display: none;
  }

  section.slider h1 span {
    font-size: 30px;
    line-height: normal;
  }

  section.slider h1 {
    font-size: 30px;
  }

  section#blog--slider .row:after {
    opacity: 0;
  }

  .card-item-all {
    padding: 40px 15px;
  }

  section.detail_lists--all-blog h2 {
    font-size: 30px;
  }

  .top__recent_blog h3 {
    margin: 0;
  }

  .items--sc-sl-pr {
    padding: 0;
  }

  .title-detail_product h2 {
    font-size: 30px;
  }
}
